[Unit]
Description=Todo app, ACIT4640
After=network.target

[Service]
Environment=NODE_PORT=8080
WorkingDirectory=/home/{{ todo_user }}/app
Type=simple
User={{ todo_user }}
ExecStart=/usr/bin/node /home/{{ todo_user }}/app/server.js
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target